SECRET_KEY=<your_secret_key>

AZURE_API_TRANSLATE_KEY=<your_translate_key>
AZURE_API_TRANSLATE_ENDPOINT=<your_translate_endpoint>
AZURE_API_REGION=<your_translate_region>

AZURE_CV_KEY=<your_cv_key>
AZURE_CV_ENDPOINT=<your_cv_endpoint>

ALLOWED_ORIGIN=*

WITAI_TOKEN=<your_witai_token>

GITHUB_TOKEN=<your_github_token>
GITHUB_REPO_OWNER=<your_github_repo_owner>
GITHUB_REPO_NAME=<your_github_repo_name>
GITHUB_API_URL=<your_github_api_url>

CONFIG_API_KEY=<your_config_api_key>